<!--ログイン後のトップページ内容(ここから)-->
<% if logged_in? %>

  
      <%= form_with(model: @micropost, local: true) do |f| %>
        
          <%= f.label :title, 'タイトル（最大255字）' %>
          <div class='form-group'>
          <%= f.text_field :title,class: 'form-control' %>
          </div>
          
          <%= f.label :content, '内容(最大10000字)' %>
          <div class='form-group'>
          <%= f.text_area :content, class: 'form-control', rows: 18 %>
        </div>
        <%= f.submit '記事を投稿', class: 'btn btn-success btn-block' %>
      <% end %>
   
  <!--作成ずみmicroposts内容表示-->
   
  <!--ログイン前のトップページ内容（ここから）-->
<% else %>
  <div class='container'>
  <div class="jumbotron text-center">
      <h1>読書記録アプリへ<br>ようこそ！</h1>
      <h3>〜 本の内容を自分のものに 〜</h3>
      <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
  </div>
  
<% end %>