<!--ログイン後のトップページ内容(ここから)-->
<% if logged_in? %>
  <div class="row">
    
   <div class="col-sm-7">
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 18 %>
          
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
   </div>
   
  <!--作成ずみmicroposts内容表示-->
    <div class="col-sm-5">
      <h2>作成済み一覧</h2>
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>

  </div>
  <!--ログイン前のトップページ内容（ここから）-->
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>読書記録アプリへようこそ！</h1>
      <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  
<% end %>